@import "../../marketplace.css";

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --SectionHero_desktopTitleMaxWidth: 625px;

  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

.root {
  position: relative;
  @apply --backgroundImage;
  background-color: var(--colorTealLight);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;

  /* Text positioning is done with paddings */
  padding: 0 24px 0 24px;

  &::after {
    content: '';
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  }

  @media (--viewportMedium) {
    padding: 0 0 0 7.5vw;
  }

  @media (--viewportLarge) {
    padding: 0 0 0 15vw;
  }

  @media screen and (min-width: 1200px) {
    background-size: cover;
    background-position: 0 -80px;
  }
}

.background {
  background: url('../../assets/new_background_logged_in_TA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundTA {
  background: url('../../assets/new_background_logged_in_TA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroMainTitle, .heroMainTitleTA {
  @apply --marketplaceHeroTitleFontStyles;
  position: relative;
  z-index: 6;
  color: var(--matterColorLight);

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
}

.heroMainTitleTA {
  max-width: none;
}

.heroSubTitle {
  @apply --marketplaceBodyFontStyles;
  position: relative;
  z-index: 6;

  color: var(--matterColorLight);
  margin: 0 0 28px 0;

  @apply --SectionHero_animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 0 45px 0;
  }
}

.mobileSearchButton {
  border-radius: 4px;
  flex-shrink: 0;

  @apply --SectionHero_animation;
  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: none;
  }
}

.searchIcon {
  vertical-align: top;
  stroke: var(--matterColorLight);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 10px;
}

.desktopSearchForm {
  display: none;
  background-color: var(--matterColorLight);
  border-bottom: 4px solid var(--marketplaceColor);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  @apply --SectionHero_animation;
  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 400px;
  }
}

.wrapperGetStarted {
  position: relative;
  z-index: 6;
  @media (--viewportMedium) {
    display: block;
    width: 300px;
  }
}

.deskTopButton {
  background-color: var(--marketplaceColor);
  border-bottom: 4px solid var(--marketplaceColor);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  @media (--viewportMedium) {
    display: block;
    width: 300px;
  }
}

.highLight {
  color: var(--successColor);
}
