@import '../../marketplace.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.aspectWrapperLongCard {
  padding-bottom: 110%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.rootForImageLongCard {
  height: 100%;
  object-fit: cover;
}

.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 16px 0 10px 0;
}

.infoLongCard {
  /* Layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 15px 30px 15px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: var(--matterColorLight);
}

.infoLongCard > div {
  flex-basis: 100%;
}

.categoryLocation {
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  font-weight: normal;
  text-transform: capitalize;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-right: 18px;
  color: var(--matterColor);
}

.priceLongCard {
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  flex-shrink: 0;
  color: var(--matterColor);
}

.priceValue {
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.priceValueLongCard {
  /* Font */
  @apply --marketplaceH4FontStyles;
  font-weight: 900;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.exclude10pcServiceFee {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.mainInfoLongCard {
  margin-top: 15px;
  margin-bottom: 50px;
}

.title {
  /* Font */
  @apply --marketplaceH3FontStyles;
  font-weight: 900;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.titleLongCard {
  font-size: 24px;
}

.authorInfo {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
