@import '../../marketplace.css';

:root {
  --Image_animation: {
    animation-name: animationImage;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

@keyframes animationImage {
  0% {
    visibility: hidden;
    opacity: 0;
    left: 200px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
}

.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;

  @media (--viewportLarge) {
    margin: 0;
    flex-direction: row;
    padding-bottom: 30px;
  }
}

.textContainer {
  flex-basis: 47%;
  text-align: center;
}

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  text-align: left;
}

.paragraph {
  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
}

.paragraph span {
  display: block;
  margin-bottom: 24px;
}

.imageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  padding: 0;
}

.screenTrans {
  @apply --Image_animation;
  animation-delay: 0.8s;
  position: relative;
  width: 100%;
  background-color: var(--colorTealDark);

  @media (--viewportLarge) {

  }

  @media (--viewportMLarge) {
    margin-top: 80px;
  }
}

.screenTransText {
  @apply --Image_animation;
  animation-delay: 0.8s;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: var(--matterColorLight);
  bottom: 20px;
  padding: 20px 20px;

  @media (--viewportMedium) {
    font-size: 18px;
    bottom: 60px;
    padding: 80px 140px;
  }

  @media (--viewportLarge) {
    bottom: 160px;
    padding: 80px 100px;
  }

  @media (--viewportMLarge) {
    bottom: 40px;
  }
}
