@import '../../marketplace.css';

.content {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--matterColorLight);

  @media (--viewportMedium) {
    font-size: 33px;
    line-height: 37px;
  }

  @media (--viewportLarge) {
    font-size: 38px;
    line-height: 42px;
  }

  @media (--viewportXLarge) {
    font-size: 44px;
    line-height: 48px;
  }
}

.highLight {
  color: var(--successColor);
}
